<!DOCTYPE html>
<html>
  <head>
    <title>helloJournalist - A platform to voice your opinion</title>
    <%= csrf_meta_tags %>


    <!-- Custom Fonts -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- in your index.html file -->

  </head>

  <body>
    <%= yield %>

    <%= redux_store_hydration_data %>
  </body>
</html>
