<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>hiiCiti - Meet your city</title>
    <%= csrf_meta_tags %>


    <!-- Custom Fonts -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <!-- Latest compiled and minified CSS -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top">
    
                <!--
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                
                <div class="modal-body">

                    <form class="form-horizontal" role="form" method="POST" action="">

                        <div class="form-group">
                            <label for="email" class="col-xs-2 control-label">E-Mail: </label>

                            <div class="col-xs-10">
                                <input type="email" class="form-control" name="email" id="loginId" value="">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-xs-2 control-label">Password</label>

                            <div class="col-xs-10">
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-5">
                                <button type="submit" name="login" class="btn btn-success">
                                    <i class="fa fa-btn fa-sign-in"></i> Login
                                </button>
                            </div>

                            <div class="col-md-6 col-md-offset-4">
                                <a class="btn btn-link" href="">Forgot Your Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
                -->
            </div>
        </div>
    </div>


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background: transparent">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">hc</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Signup</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>hiiCiti</h1>
                <hr>
                <p>We are helping to bring your city closer to you. Join Us and connect with you city!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Bringing your city closer to you!</h2>
                    <hr class="light">
                    <p class="text-faded">Know everything your city has for you by joining us. <br/>Or you can search directly from here.</p> 

                  <form action="" method="POST" role="form" class="form-inline">
                    
                        <div class="form-group">
                            <input type="text" class="form-control set-width" placeholder="Searching for...">
                        </div>

                        <div class="form-group">
                            <select class="form-control set-width" placeholder="select your city">
                                <option disabled selected>Choose your city</option>
                                <option>New Delhi</option>
                                <option>Dhanbad</option>
                            </select>
                        </div>
                    
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What's In Here!</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users bounceIn text-primary" aria-hidden="true"></i>
                        <h3>Meet People</h3>
                        <p class="text-muted">Make new friends in a strange city and get to know more about the city from them.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-info-circle bounceIn text-primary" aria-hidden="true" ></i>
                        <h3>Stay Informed</h3>
                        <p class="text-muted">Get answer to questions like "Where can I find X?", "How can I reach X place"</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o bounceIn text-primary" aria-hidden="true"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">Keep yourself updated with your city events and happenings.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-share-square-o bounceIn text-primary" aria-hidden="true" ></i>
                        <h3>Share</h3>
                        <p class="text-muted">Have something to share with your citi-<i>ites</i>! You are at the right place.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Select the city you are from!</h2>
            </div>
        </div>
    </aside>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("images/1.jpg", class: "img-responsive", alt: "Nothing") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    New Delhi
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("images/2.jpg", class: "img-responsive", alt: "Nothing") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Dhanbad
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("images/3.jpg", class: "img-responsive", alt: "Nothing") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Bengaluru
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("images/portfolio/4.jpg", class: "img-responsive", alt: "Nothing") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Ranchi
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("images/portfolio/5.jpg", class: "img-responsive", alt: "Nothing") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Kolkata
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("images/portfolio/6.jpg", class: "img-responsive", alt: "Nothing") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Bhubaneswar
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Need any more information! Have something to say! Any Complaints! Any Suggestions! <br/>Just mail me at:</p>
                </div>
                <div class="col-lg-offset-4 col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x bounceIn"></i>
                    <p><a href="mailto:your-email@your-domain.com">anandmallick980@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <%= yield %>

    <%= redux_store_hydration_data %>

</body>

</html>
